.everything{
    display: grid;
    padding: 0vw 20vw 0vw;
    border: 3px;
    border-color: black;
    
}

.round{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 3px;
    border-color: black;
}

#texth2{
    display: flex;
    justify-content: center;
}

.hai{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choicee{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.human{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#humanh3{
    display: flex;
    justify-content: center;

}

#aih3{
    display: flex;
    justify-content: center;

}
.ai{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.score{
    display: flex;
    align-items: center;
    border: 2px solid black;
    justify-content: center;

    width: 45px;
    height: 45px;
    aspect-ratio: 1/1;

    

}
.roundnumber{
    display: flex;
    justify-content: center;
}
.roundscore{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;

    height: 45px;
    width: 45px;
    aspect-ratio: 1 / 1;
    

}

#h_sc, #a_sc{
    color: black;
    overflow: visible;

}